<div class="content flex-grow-1 p-4">
  <h1 class="mb-4">Custom autocomplete input</h1>
  <div id="error-alert" class="alert alert-danger fade show" role="alert" style="display: none;">
    <strong>Error</strong> Something went wrong. Check the developer console for details.
  </div>

  <p>Customize the autocomplete widget by providing an <code>&lt;input&gt;</code> as the container element.</p>

  <div id="autocomplete-warning" class="callout gray">
    Add publishable key to see autocomplete input
  </div>

  <div>
    <input id="autocomplete" name="address" type="text" style="width: 300px" />
  </div>

  <div id="result-container" class="mt-4" style="display: none;">
    <p class="mb-1"><b>Selected result</b></p>
    <pre><code id="result" class="code-sample language-json"></code></pre>
  </div>
</div>

<script>
  let autocomplete;
  const init = (publishableKey) => {
    $('#error-alert').hide();
    $('#autocomplete-warning').hide();

    Radar.initialize(publishableKey, { debug: true });

    // prevent duplicate inputs
    if (autocomplete) {
      autocomplete.remove();
    }

    autocomplete = Radar.ui.autocomplete({
      container: 'autocomplete',
      countryCode: 'US',
      threshold: 2,
      onSelection: (result) => {
        console.log(result);
        $('#result').html(JSON.stringify(result, null, 2));
        $('#result-container').show();
        hljs.highlightAll();
      },
      width: '600px',
    });

    console.log('AUTOCOMPLETE', autocomplete);
  };


  // initalize map on api key changes
  $('#publishableKey').on('change', () => {
    const publishableKey = $('#publishableKey').val();
    if (publishableKey) {
      init(publishableKey);
    }
  });
</script>
