<div class="content flex-grow-1 p-4">
    <h1 class="mb-4">Forward Geocode</h1>
    <div id="error-alert" class="alert alert-danger fade show" role="alert" style="display: none;">
        <strong>Error:</strong> <span id="error-text">Something went wrong. Check the developer console for
            details.</span>
    </div>

    <p>Forward geocode a location.</p>
    <div class="mb-3 form-row">
        <label for="query" class="col-form-label" style="width: 128px;">Query</label>
        <div>
            <input type="text" step="0.001" class="form-control" id="query" style="width: 250px;">
        </div>
    </div>
    <div class="mb-3 form-row">
        <label for="layers" class="col-form-label" style="width: 128px;">Layers</label>
        <div>
            <select id="layers" class="form-select" style="width: 250px;">
                <option value="address" selected>address</option>
                <option value="place">place</option>
                <option value="coarse">coarse</option>
                <option value="fine">fine</option>
            </select>
        </div>
    </div>

    <div>
        <button id="forward-geocode" type="button" class="btn btn-primary" disabled>Forward Geocode</button>
    </div>

    <div id="loader" class="spinner-border text-primary mt-4" role="status" style="display: none;">
    </div>

    <div>
        <div id="map" class="mt-4" style="width: 100%; height: 500px; display: none;"></div>
    </div>

    <div id="response-details" style="display: none;">
        <h6 class="mt-4">Response</h6>
        <div class="mt-2">
            <pre><code id="response" class="code-sample language-json"></code><pre>
    </div>
  </div>

  <div class="mt-4">
    <pre><code class="code-sample language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" /&gt;
    &lt;link href="https://js.radar.com/v{{sdk_version}}/radar.css" rel="stylesheet"&gt;
    &lt;script src="https://js.radar.com/v{{sdk_version}}/radar.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;div id="map" style="width: 100%; height: 500px;" /&gt;

    &lt;script&gt;
    const publishableKey = $('#publishableKey').val();
    Radar.initialize(publishableKey, { debug: true });

    $('#loader').show();

    Radar.forwardGeocode({ query: $('#query').val(), layers: $('#layers').val() }).then((response) => {
        console.log('FORWARD GEOCODE RESPONSE', { response });
        $('#loader').hide();
        
        $('#response-details').show();
        $('#response').html(JSON.stringify(response.addresses, null, 2));
        hljs.highlightAll();
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
    </pre>
        </div>
    </div>

    <script>
        $('#publishableKey').on('change', () => {
            const publishableKey = $('#publishableKey').val();
            if (publishableKey) {
                $('#forward-geocode').prop('disabled', false);
            }
        });

        let map;
        $('#forward-geocode').click(() => {
            $('#error-alert').hide();
            $('#response-details').hide();

            const publishableKey = $('#publishableKey').val();
            Radar.initialize(publishableKey, { debug: true });

            $('#loader').show();

            Radar.forwardGeocode({ query: $('#query').val(), layers: $('#layers').val() }).then((response) => {
                console.log('FORWARD GEOCODE RESPONSE', { response });
                $('#loader').hide();

                $('#response-details').show();
                $('#response').html(JSON.stringify(response.addresses, null, 2));
                hljs.highlightAll();
            }).catch((err) => {
                console.error('FORWARD GEOCODE ERROR:', err);
                $('#loader').hide();
                $('#error-alert').show();
                $('#error-text').html(err.message);
            });
        });
    </script>