<div class="content flex-grow-1 p-4">
  <h1 class="mb-4">Track verified token</h1>
  <div id="error-alert" class="alert alert-danger fade show" role="alert" style="display: none;">
    <strong>Error:</strong> <span id="error-text">Something went wrong. Check the developer console for details.</span>
  </div>

  <p>Use the Radar Verify app to verify the user's current location. Returns a JSON Web Token (JWT). Verify the JWT server-side using your secret key.</p>

  <div class="mt-5 mb-3 form-row">
    <label for="user-id" class="col-form-label" style="width: 128px;">User ID</label>
    <div>
      <input type="text" class="form-control" id="user-id" value="test-user-id" style="width: 250px;">
    </div>
  </div>

  <div>
    <button id="track-verified" type="button" class="btn btn-primary" disabled>Call track verified token</button>
  </div>

  <div id="loader" class="spinner-border text-primary mt-4" role="status" style="display: none;">
  </div>

  <div id="response-details" style="display: none;">
    <h6 class="mt-4">Token</h6>
    <div class="mt-2">
      <pre style="white-space: pre-wrap"><code id="token" class="code-sample language-json"></code><pre>
    </div>
  </div>

  <div class="mt-4">
    <pre><code class="code-sample language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" /&gt;
    &lt;link href="https://js.radar.com/v{{sdk_version}}/radar.css" rel="stylesheet"&gt;
    &lt;script src="https://js.radar.com/v{{sdk_version}}/radar.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;script&gt;
      $('#track-verified').click(() =&gt; {
        Radar.initialize('&lt;RADAR_PUBLISHABLE_KEY&gt;');

        Radar.trackVerifiedToken({ userId: 'test-user-id' })
          .then(({ token }) =&gt; {
            console.log(token);
          });
      });
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
    </pre>
  </div>
</div>

<script>
  $('#publishableKey').on('change', () => {
    const publishableKey = $('#publishableKey').val();
    if (publishableKey) {
      $('#track-verified').prop('disabled', false);
    }
  });

  $('#track-verified').click(() => {
    $('#error-alert').hide();
    $('#response-details').hide();

    const publishableKey = $('#publishableKey').val();
    Radar.initialize(publishableKey, { debug: true });

    $('#loader').show();

    const userId = $('#user-id').val();
    Radar.trackVerifiedToken({ userId })
      .then(({ token }) => {
        console.log('TRACK RESPONSE', { token });
        $('#loader').hide();

        console.log(token);

        $('#response-details').show();
        $('#token').html(token);
        hljs.highlightAll();
      })
      .catch((err) => {
        console.error(err);
        $('#loader').hide();
        $('#error-alert').show();
        $('#error-text').html(err.message);
      });
  });

</script>
