<div class="content flex-grow-1 p-4">
  <h1 class="mb-4">Track verified</h1>
  <div id="error-alert" class="alert alert-danger fade show" role="alert" style="display: none;">
    <strong>Error:</strong> <span id="error-text">Something went wrong. Check the developer console for details.</span>
  </div>

  <p>Use the Radar Verify app to verify the user's current location.</p>

  <div class="mt-5 mb-3 form-row">
    <label for="user-id" class="col-form-label" style="width: 128px;">User ID</label>
    <div>
      <input type="text" class="form-control" id="user-id" value="test-user-id" style="width: 250px;">
    </div>
  </div>
  <div class="mb-4 form-row">
    <label for="skip-verify-app" class="col-form-label" style="width: 128px;">Skip Verify app</label>
    <div>
      <select id="skip-verify-app" class="form-select" style="width: 250px;">
        <option value="false" selected>false</option>
        <option value="true">true</option>
      </select>
    </div>
  </div>

  <div>
    <button id="track-verified" type="button" class="btn btn-primary" disabled>Call track verified</button>
  </div>

  <div id="loader" class="spinner-border text-primary mt-4" role="status" style="display: none;">
  </div>

  <div id="response-details" style="display: none;">
    <h6 class="mt-4">Location</h6>
    <div class="mt-2">
      <pre><code id="location" class="code-sample language-json"></code></pre>
    </div>

    <h6 class="mt-2">User</h6>
    <div class="mt-2">
      <pre><code id="user" class="code-sample language-json"></code></pre>
    </div>

    <h6 class="mt-2">Events</h6>
    <div class="mt-2">
      <pre><code id="events" class="code-sample language-json"></code></pre>
    </div>

    <h6 class="mt-4">Token</h6>
    <div class="mt-2">
      <pre style="white-space: pre-wrap"><code id="token" class="code-sample language-json"></code></pre>
    </div>

    <h6 class="mt-2">Expires at</h6>
    <div class="mt-2">
      <pre><code id="expires-at" class="code-sample language-json"></code></pre>
    </div>

    <h6 class="mt-2">Passed</h6>
    <div class="mt-2">
      <pre><code id="passed" class="code-sample language-json"></code></pre>
    </div>
  </div>

  <div class="mt-4">
    <pre><code class="code-sample language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" /&gt;
    &lt;script src="https://js.radar.com/v{{sdk_version}}/radar-core-fraud.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;script&gt;
      $('#track-verified').click(() =&gt; {
        Radar.initialize('&lt;RADAR_PUBLISHABLE_KEY&gt;');

        Radar.trackVerified({ userId: 'test-user-id' })
          .then(({ location, user, events, token, expiresAt, expiresIn, passed }) =&gt; {
            console.log(location);
            console.log(user);
            console.log(events);
            console.log(token);
            console.log(expiresAt);
            console.log(expiresIn);
            console.log(passed);
          });
      });
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
    </pre>
  </div>
</div>

<script>
  $('#publishableKey').on('change', () => {
    const publishableKey = $('#publishableKey').val();
    if (publishableKey) {
      $('#track-verified').prop('disabled', false);
    }
  });

  $('#track-verified').click(() => {
    $('#error-alert').hide();
    $('#response-details').hide();

    const publishableKey = $('#publishableKey').val();
    Radar.initialize(publishableKey, { debug: true });

    $('#loader').show();

    const userId = $('#user-id').val();
    const skipVerifyApp = $('#skip-verify-app').val() === 'true';
    Radar.trackVerified({ userId, skipVerifyApp })
      .then(({ location, user, events, token, expiresAt, expiresIn, passed }) => {
        console.log('TRACK RESPONSE', { location, user, events, token, expiresAt, expiresIn, passed });
        $('#loader').hide();

        $('#response-details').show();
        $('#location').html(JSON.stringify(location, null, 2));
        $('#user').html(JSON.stringify(user, null, 2));
        $('#events').html(JSON.stringify(events, null, 2));
        $('#token').html(token);
        $('#expires-at').html(expiresAt);
        $('#passed').html(passed ? 'true' : 'false');
        hljs.highlightAll();
      })
      .catch((err) => {
        console.error(err);
        $('#loader').hide();
        $('#error-alert').show();
        $('#error-text').html(err.message);
      });
  });

</script>
