:root {
  --radar-gray1: #F6FAFC;
  --radar-gray2: #EAF1F6;
  --radar-gray3: #DBE5EB;
  --radar-gray5: #ACBDC8;
  --radar-gray6: #5A6872;
  --radar-gray8: #051723;
  --radar-sapphire: #0005FB;
  --radar-midnight: #000257;
}

#radar-map-logo {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 80px;
  height: 38px;
}

#radar-map-logo img {
  width: 80px;
  height: 38px;
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: url('https://radar.com/static/font/Graphik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('https://radar.com/static/font/Graphik-Semibold.woff') format('woff');
}

.radar-autocomplete-wrapper {
  position: relative;
  font-family: 'Graphik';
}

.radar-autocomplete-input {
  width: 100%;
  height: 2.25rem;
  margin: 0;
  padding: 0.375rem 0.75rem 0.375rem 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: var(--radar-gray8);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--radar-gray3);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

.radar-autocomplete-input:disabled, .radar-autocomplete-input:hover:disabled {
  opacity: 1;
  background: var(--radar-gray3);
  cursor: not-allowed;
}

.radar-autocomplete-input::placeholder {
  color: var(--radar-gray5);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

.radar-autocomplete-input:hover::placeholder {
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

.radar-autocomplete-input:focus::placeholder {
  padding: 0.1rem 0.4rem;
  font-size: 15.5px;
  opacity: 0.7;
}

.radar-autocomplete-input:hover::placeholder {
  opacity: 0.8;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

/* Glow / Active */
.radar-autocomplete-input:focus {
  opacity: 1;
  border: 1px solid var(--radar-gray3);
  box-shadow: 0px 0px 4px #81BEFF;
  outline: 2px solid #4d90fe;
  outline-offset: 2px;
}

.radar-autocomplete-search-icon {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 12px;
  left: 16px;
  background: url('data:image/svg+xml;charset=utf-8,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7807 10.7175L9.98844 8.925L9.44852 8.385C10.1084 7.5075 10.4984 6.4275 10.4984 5.25C10.4984 2.355 8.14373 0 5.24918 0C2.35463 0 0 2.355 0 5.25C0 8.145 2.35463 10.5 5.24918 10.5C6.4265 10.5 7.51383 10.1025 8.38369 9.45L9.64349 10.71L10.7158 11.7825C10.8583 11.9325 11.0533 12 11.2482 12C11.4432 12 11.6307 11.925 11.7807 11.7825C12.0731 11.49 12.0731 11.0175 11.7807 10.725V10.7175ZM1.49977 5.25C1.49977 3.18 3.1795 1.5 5.24918 1.5C7.31886 1.5 8.99859 3.18 8.99859 5.25C8.99859 7.32 7.31886 9 5.24918 9C3.1795 9 1.49977 7.32 1.49977 5.25Z" fill="%23ACBDC8"/></svg>');
}

.radar-autocomplete-results-list {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0.5rem 0 0 0;
  padding: 8px 0 0 0;
  z-index: 1;
  list-style: none;
  background-color: white;
  border: 1px solid var(--radar-gray3);
  box-shadow: 0px 4px 12px rgba(5, 23, 35, 0.1);
  border-radius: 4px;

  outline: none;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

.radar-autocomplete-results-list[hidden],
.radar-autocomplete-results-list:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.radar-autocomplete-results-item {
  display: flex;
  align-items: center;
  color: var(--radar-gray6);
  padding: 8px 16px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.radar-autocomplete-results-item b {
  color: var(--radar-gray8);
  font-weight: 600;
  margin-right: 8px;
}

.radar-autocomplete-results-marker {
  margin-right: 16px;
}

.radar-autocomplete-results-item:hover {
  cursor: pointer;
  background-color: var(--radar-gray1);
}

.radar-autocomplete-results-item:focus {
  outline: 2px solid #4d90fe;
  outline-offset: -2px;
}

.radar-autocomplete-results-item[aria-selected="true"] {
  background-color: var(--radar-gray2);
}

.radar-autocomplete-results-item-selected {
  background-color: var(--radar-gray2);
}

.radar-powered {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  color: var(--radar-gray6);

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.radar-powered a {
  text-decoration: none !important;
  color: var(--radar-gray6) !important;
}

.radar-powered a:visited {
  color: var(--radar-gray6) !important;
}

.radar-powered #radar-powered-logo {
  display: inline-block;
  margin-left: 4px;
  width: 40px;
  height: 10px;
  color: transparent;
  background: url('data:image/svg+xml;charset=utf-8,<svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4621 8.83575V1.207H14.2936C16.1847 1.207 17.2364 2.01789 17.2364 3.62899V3.67167C17.2364 4.75997 16.6903 5.36814 15.9319 5.67755L17.6611 8.83575H15.4768L14.0105 6.10434H13.5251V8.83575H11.4621ZM13.5251 4.68528H14.1925C14.8903 4.68528 15.2341 4.37586 15.2341 3.75703V3.71435C15.2341 3.09551 14.87 2.85011 14.2026 2.85011H13.5251V4.68528ZM19.7848 8.96379C18.8342 8.96379 17.9948 8.47299 17.9948 7.28866C17.9948 5.9763 19.0466 5.46416 20.8062 5.46416H21.3118V5.33613C21.3118 4.80265 21.1905 4.45055 20.614 4.45055C20.1185 4.45055 19.9365 4.75997 19.896 5.11207H18.1971C18.278 3.7677 19.2792 3.10618 20.7253 3.10618C22.1815 3.10618 23.1119 3.73569 23.1119 5.21876V8.83575H21.3523V8.18491C21.0994 8.59035 20.6343 8.96379 19.7848 8.96379ZM20.4118 7.67277C20.9275 7.67277 21.3118 7.36335 21.3118 6.88322V6.54179H20.8365C20.1084 6.54179 19.7848 6.69116 19.7848 7.14996C19.7848 7.47005 19.987 7.67277 20.4118 7.67277ZM26.1052 8.96379C24.8816 8.96379 23.8804 8.03553 23.8804 6.10434V6.01898C23.8804 4.11979 24.8715 3.10618 26.1254 3.10618C26.9547 3.10618 27.4502 3.47962 27.7536 4.04511V0.801553H29.5637V8.83575H27.7536V7.92884C27.4906 8.50499 26.9041 8.96379 26.1052 8.96379ZM26.7423 7.50205C27.3996 7.50205 27.8041 7.02192 27.8041 6.07233V5.98697C27.8041 5.04805 27.43 4.54658 26.7625 4.54658C26.085 4.54658 25.7209 5.02671 25.7209 5.99764V6.083C25.7209 7.02192 26.1153 7.50205 26.7423 7.50205ZM32.1222 8.96379C31.1716 8.96379 30.3323 8.47299 30.3323 7.28866C30.3323 5.9763 31.384 5.46416 33.1436 5.46416H33.6493V5.33613C33.6493 4.80265 33.5279 4.45055 32.9515 4.45055C32.456 4.45055 32.2739 4.75997 32.2335 5.11207H30.5346C30.6155 3.7677 31.6166 3.10618 33.0627 3.10618C34.5189 3.10618 35.4493 3.73569 35.4493 5.21876V8.83575H33.6897V8.18491C33.4369 8.59035 32.9717 8.96379 32.1222 8.96379ZM32.7492 7.67277C33.265 7.67277 33.6493 7.36335 33.6493 6.88322V6.54179H33.174C32.4458 6.54179 32.1222 6.69116 32.1222 7.14996C32.1222 7.47005 32.3245 7.67277 32.7492 7.67277ZM36.4808 8.83575H38.291V6.18969C38.291 5.29345 38.8977 4.93068 40 4.96269V3.18087C39.1809 3.1702 38.6247 3.53297 38.291 4.36519V3.25556H36.4808V8.83575Z" fill="%235A6872"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.87125 0L0 9.98971L3.87125 8.31318L7.74251 10L3.87125 0Z" fill="%235A6872"/></svg>');
}

.radar-no-results {
  padding: 8px 16px;
}

/* screen reader only class for autocomplete */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.maplibregl-marker:hover {
  cursor: pointer;
}
.maplibregl-ctrl-attrib.hidden {
  display: none !important;
}
.maplibregl-popup-close-button:focus-visible {
  outline: none;
}
