name: Publish beta package to npmjs
on:
  release:
    types: [ prereleased ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm ci --force
      - run: npm run build
      - run: npm run test
      - run: npm run check-beta-tag
      - run: npm publish --tag beta
      - uses: jakejarvis/s3-sync-action@master
        env:
          AWS_S3_BUCKET: js.radar.com
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
          SOURCE_DIR: 'dist/'
          DEST_DIR: ${{ github.ref_name }} # the release tag
